@model Ultimo.Models.Usuario

@{
    ViewBag.Title = "myProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Profile</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit")
    @Html.ActionLink("Back to List", "Index")
</p>
